{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
 <div class='box'>

   <div class='box2'>
    {% if messages %}
    {% for message in messages %}
    <div>
        <strong>{{messages}}</strong>
    </div>
    {% endfor %}
{% endif %}

<center>
    <h1><i>__TODO LIST__</i></h1>
</center>

<div class="box3">
    {% for i in list %}
    <div class="card">
        <center><b>{{i.title}}</b></center>
        <hr/>
        {{i.date}}
        <hr/>
        {{i.details}}
        <hr/>
        <hr/>
    </div>
    {% endfor %}

</div>

<div class="info">
    <div class='info2'>
        <form method="POST">
            {% csrf_token %}
            {{forms}}
            <center>
                <input type="submit" name="" id="">
            </center>
        </form>
    </div>
</div>
   </div>
 </div>

</body>
</html>